<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
      {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}git b
      {% endblock %}
      {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
      {% endblock %}
      <link rel="manifest" href="/manifest.webmanifest">
      <meta name="turbolinks-cache-control" content="no-cache"/>

    </head>
    <body>
    <div class="page-wrapper">
    <nav class="header" id="header">
      <ul class="header-nav">
        <li class="header__home"><a href="" title="Accueil"></a></li>

        <li><a href="#">Tutoriels</a></li>
        <li><a href="#">Formations</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Live</a></li>
        <li><a href="#"> Blog</a></li>
      </ul>

    </nav>
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
